<div ng-controller="ComplaintsCtrl" style="margin-left:23px; margin-top:15px; margin-right:15px;">

<md-toolbar layout="row" layout-align="center center" style="background-color:rgb(255,87,34); height:20px;">
<h4> New Complaints </h4>
</md-toolbar>



<md-input-container layout="column">
<input type="text" ng-model="model.complaintAgainst" placeholder="Against" />
</md-input-container>


<md-input-container layout="column">
<input type="text" ng-model="model.title" placeholder="title" />
</md-input-container>


<md-input-container layout="column">
<label>Description</label>
  <textarea ng-model="model.description"></textarea>
</md-input-container>  


<md-checkbox ng-model="model.isChecked" aria-label="anomynous?">
  anomynous
</md-checkbox>


<md-button ng-click="SubmitComplain(model)" layout="column" class="md-raised md-primary"> 
Submit
</md-button>

</div>





<div style="margin-left:23px; margin-top:15px; margin-right:15px;">

<md-toolbar layout="row" layout-align="center center" style="background-color:rgb(255,87,34); height:20px;">
<h4> Complaints </h4>
</md-toolbar>



<md-list ng-repeat="vm in complaints_list | limitTo:-5 "> 


<md-list-item>
 {{vm.fdsdf}}  title: {{vm.title}}  {{vm.createdAt}} 
</md-list-item>

</md-list>
</div>