<div ng-controller="EventsCtrl" style="margin-left:23px; margin-top:15px; margin-right:15px;">

<md-toolbar layout="row" layout-align="center center" style="background-color:rgb(255,87,34); height:20px;">
<h4> Events </h4>
</md-toolbar>


<md-datepicker ng-model="myDate"  md-placeholder="Enter date"></md-datepicker>


<md-button ui-sref="app.events.new">
	
	<md-icon md-svg-icon="svg-27" class="avatar"></md-icon>
</md-button>

<md-list layout="row" layout-sm="column" ng-repeat="x in events" style="padding:10px;">

<div style="width:80%; border:1px solid grey; padding:10px;">
<h3 style="color:red;">{{x.date}}</h3>

<h4>{{x.time}}</h4>

<h4>{{x.title}}</h4>


<div>
<p><i style="color:green;">{{x.description}}</i></p>
</div>
</div>

</md-list>









</div>














