<div style="margin-left:23px; margin-top:15px; margin-right:15px;">

<md-toolbar layout="row" layout-align="center center" style="background-color:rgb(255,87,34); height:20px;">
<h4> Have a poll </h4>
</md-toolbar>



<md-whiteframe class="md-whiteframe-3dp">

  <form ng-submit="submit()" ng-controller="pollCtrl" ng-cloak>



  <md-input-container>
 			<label>Poll Question</label>
      <input ng-model="user.question" type="text">
  </md-input-container>
  <br />

  <!-- <div ng-repeat="d in radioData"> -->
  <div>
      <input ng-model="user.option" type="radio" checked="checked">
  		<input ng-model="user.option1" type="text">

      <input ng-model="user.option" type="radio" checked="checked">
      <input ng-model="user.option2" type="text">


      <input ng-model="user.option" type="radio" checked="checked">
      <input ng-model="user.option3" type="text">




  		<br /><br />
  		 </div>
  		<md-button  class="md-raised" ng-click="addItem()" type='button' >Add Option</md-button>
  		<md-button class="md-raised" ng-click="removeItem()" type="button">Delete Option</md-button>
    
<br />
      <md-button class="md-raised md-warn" ng-click="submitForm(user)" >submit</md-button>
</form>
</md-whiteframe>
</div>

<br /><br />





<div layout="column" ng-controller="pollCtrl" style="margin-left: 23px; margin-top:5px; margin-right:15px;">

  <md-whiteframe class="md-whiteframe-3dp">

  <md-toolbar layout="row" layout-align="center center" style="background-color:rgb(255,87,34); height:20px;">
  <h4> Polls </h4>
  </md-toolbar>
  <div ng-repeat="x in polls">
  <h3>{{x.pollQuestion}}</h3>
  <md-list ng-repeat="y in x.options">
    <md-radio-group>
    <div >
  
    <h3>{{y.name}}<h3>
  
   </div>


  </md-radio-group>
  <md-button class="md-raised"> vote </md-button>
  </div>
  </md-list>
</md-whiteframe>
</div>



