<div style="margin-left:30px; width:555px; padding:20px;" >


<md-whiteframe margin-lef>


<md-toolbar layout="row" layout-align="center center" flex="23"> 
          Registration
</md-toolbar> 


  <md-input-container layout="row" layout-sm="column"  layout-margin="40">

      <label >Email</label>
                <input ng-model="user.email">
                 
  </md-input-container>


  <md-input-container layout="row" layout-sm="column" layout-align="center center" layout-margin="40">
              
                <label>contact no</label>
                <input ng-model="user.email">
                 
  </md-input-container>


  <md-input-container layout="row" layout-sm="column" layout-align="center center" layout-margin="40">
              
                <label>username</label>
                <input ng-model="user.email">
                 
  </md-input-container>


  <md-input-container layout="row" layout-sm="column" layout-align="center center" layout-margin="40">
                
                <label>Password</label>
                <input ng-model="user.password" type="password">
                
  </md-input-container>


  <md-input-container layout-align="center center">
                <div layout="row" layout-sm="column" layout-margin>
                  <md-button class="md-raised" flex="30" flex-sm="40">Login</md-button>
                  <md-button class="md-raised md-primary" flex="30" flex-sm="40">Register</md-button>
                </div>
  </md-input-container>


</md-whiteframe>
</div>
