@import "datepicker.css";
@import "sidenav.css";
@import "login.css";

html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

.md-button{

  min-width: 262px; 
  color : black;
}



md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}

/* Sidenav area */




/* Primary content area    //  color: #03a9f4;*/

#content {
  overflow: hidden;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.share {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 25px;
}


md-content.md-default-theme, md-content {
    color: rgba(0,0,0,0.87);
    background-color: rgb(220, 220, 220);
}



md-content.md-default-theme, md-content div{
    color: rgba(0,0,0,0.87);
    background-color: #fff;
    height: 100%;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.share > md-icon {
  fill:black;
  width:36px;
  height:36px;
}

md-button.menuBtn > md-icon {
  fill: rgb(231,87,83);
  width:24px;
  height:24px;
  color : rgb(231,87,83);
}

#content .md-button.share:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}


md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}


md-sidenav._md-locked-open, md-sidenav._md-locked-open._md-closed, md-sidenav._md-locked-open._md-closed.md-sidenav-left, md-sidenav._md-locked-open._md-closed, md-sidenav._md-locked-open._md-closed.md-sidenav-right, md-sidenav._md-locked-open-remove._md-closed {
    position: static;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: rgb(56, 93, 197);
}



/* new css  */


.radioButton body {
  padding: 20px; }
.radioButton hr {
  margin-left: -20px;
  opacity: 0.3; }
.radioButton md-radio-group {
  width: 150px; }
.radioButton p:last-child {
  padding-bottom: 50px; }
.radioButton [ng-controller] {
  padding: 0 20px; }
.radioButton .radioValue {
  margin-left: 5px;
  color: #0f9d58;
  font-weight: bold;
  padding: 5px; }
.radioButton md-icon {
  margin: 0 20px 20px;
  width: 128px;
  height: 128px; }
.radioButton .ipsum {
  color: saddlebrown;
  font-size: 0.9em; }


/* new datepicker css 

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
*/






